<!DOCTYPE html>
<html lang="es-PE">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="{{ site.description }}" name="description" />

    {%- if page.title -%}
      <title>{{ page.title }} | {{ site.title | default: site.github.repository_name }}</title>
    {%- else -%}
      <title>{{ site.title | default: site.github.repository_name }}</title>
    {%- endif -%}

    {% include snippets/head-favicons.html %}
    {% include snippets/css-variables.html %}
    <link rel="stylesheet" href="{{ "/assets/style_theme.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/style_vendor.css" | prepend: site.baseurl }}">

    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1348626922348034');
      fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1348626922348034&ev=PageView&noscript=1"
      /></noscript>
  </head>

  <body class="body">
    {% include snippets/ie-support.html %}

    <div class="page">
      <header class="page__header">
        {% include sections/header.html navigation="main" %}
      </header>

      <div class="page__main">
        <div class="main">
          {{ content }}
        </div>
      </div>

      <footer class="page__footer">
        {% include sections/footer.html social_networks=page.social_networks navigation="footer" show_powered_by=false %}
      </footer>
    </div>

    {% include snippets/theme-js-data.html %}
    <script src="{{ "/assets/script_theme.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
